<!DOCTYPE html>
<html lang="en">
<head>
    <title>TRANSAKSI</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
   <!-- Show Modal -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% extends 'layout.html' %}

    {% block content %}
    <h2>PEMBELIAN BARANG</h2> 
      <h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tambahPembelian">Tambah Data</button>
      </h1>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissable container" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>
          {{message}}
        </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

    <div class="container">
        <table width="10px" class="table table-bordered table-hover">
           <thead>
           <tr>
               <th>ID Pembelian</th>
               <th>User</th>
               <th>Nama Barang</th>
               <th>Harga</th>
           
               <!-- <th>Tanggal</th> -->
               <th width="10%" colspan="2">Aksi</th>
           </tr>
           </thead>
               <tbody>
                 {% for row in pembelian %}
                  <tr>
                    <td>{{ row.pembelian.id_pembelian }}</td>
                    <td>{{ row.user.nama }}</td>
                    <td>{{ row.barang.nama_barang }}</td>
                    <td>{{ row.barang.harga }}</td>
                 
                    <!-- <td>{{ row.3 }}</td> -->
                    <td><button type="button" class="btn btn-warning" data-toggle="modal" role="button" data-target="#editPembelian{{ row.pembelian.id_pembelian }}">Edit</button></td>
                    <td><a href="/hapus-pembelian/{{row.pembelian.id_pembelian}}" class="btn btn-danger" role="button">Hapus</a></td>
                  </tr>


                 <!-- MODAL EDIT DATA -->
                  <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="editPembelian{{ row.pembelian.id_pembelian }}" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                            <div class="container">
                                <div class="col-sm-5">
                                <h2>Ubah Data Pembelian</h2>
                                  <form action="{{ url_for('pembelian.edit_pembelian') }}" method="post">
                                      <div class="form-group">
                                        <input type="hidden" name="id_pembelian"  value="{{row.pembelian.id_pembelian}}" class="form-control" />
                                      </div>
                                      <div class="form-group">
                                        <label>Nama User:</label> 
                                        <select name= "id_user" class="form-control" placeholder="Pilih Nama User" required>
                                          <!-- Menambahkan dari table row lalu menmbahkan dari table User  -->
                                          <option hidden value="{{row.pembelian.id_user}}" selected>{{ row.user.nama }}</option>  
                                          {% for i in user %}
                                            <option value= "{{i.id_user}}"> {{i.nama}}</option>
                                          {% endfor %}
                                      </select>
                                      </div>
                                      <div class="form-group">
                                        <label>Nama Barang:</label> 
                                        <select name= "id_barang" class="form-control" placeholder="Pilih Nama Barang" required>
                                          <!-- Menambahkan dari table row lalu menmbahkan dari table Barang  -->
                                          <option hidden value="{{row.pembelian.id_barang}}">{{ row.barang.nama_barang }}</option>  
                                          {% for i in barang %}
                                            {% if i.barang.status == 'Tersedia' %}
                                              <option value= "{{i.barang.id_barang}}"> {{i.barang.nama_barang}}</option> 
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                      </div>
                                      <!-- <div class="form-group"> 
                                        <label>Harga:</label>
                                        <input type="number" name="harga" value="{{ row[7] }}" class="form-control" placeholder="Masukan harga" a disabled />
                                      </div>
                                      <div class="form-group">
                                        <label>Nama Suplier:</label> 
                                        <select name= "id_suplier" class="form-control" placeholder="Pilih Nama Suplier" disabled>
                                          Menambahkan dari table row lalu menmbahkan dari table suplier 
                                          <option hidden value="{{row.15}}" selected>{{ row.16 }}</option>  
                                          {% for i in suplier %}
                                            <option value= "{{i[0]}}"> {{i[1]}}</option>
                                          {% endfor %}
                                      </select>
                                      </div> -->
                                      <button type="submit" id="Submit" name="submit" class="btn btn-primary">Edit pembelian</button>
                                  </form>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
      
                  {% endfor %}
                </tbody>
          </table>
          </div>

  <!-- Modal TAMBAH DATA -->
  <div class="container">
    <div class="modal fade" id="tambahPembelian" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="col-sm-5">
                  <h2 style="text-align: center; margin-top: 0;">Tambah Data Pembelian</h2><br>
                      <form action="{{ url_for('pembelian.tambah_pembelian') }}" method="post">
                        
                        <div class="form-group">
                          <label>Nama User:</label> 
                          <select name="id_user" class="form-control" placeholder="Pilih Nama User" required>
                            <option value="" selected>-Pilih-</option> 
                            {% for i in user %}
                              <option value= "{{i.id_user}}"> {{i.nama}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Nama Barang:</label>
                          <select name="id_barang" class="form-control" placeholder="Pilih Nama Barang" required>
                            <option value="" selected>-Pilih-</option> 
                            {% for i in barang %}
                              {% if i.barang.status == 'Tersedia' %}
                              <option value= "{{i.barang.id_barang}}"> {{i.barang.nama_barang}}</option> 
                              {% endif %}
                            {% endfor %}
                          </select>
                      </div>
                        <button type="submit" id="Submit" name="submit" class="btn btn-primary">Tambah Barang</button>
                    </form>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
</body>
</html>