<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

  <title>CSV File Upload</title>
</head>
<body>
  {% extends 'layout.html' %}

  {% block title %}CSV File Upload{% endblock %}

  {% block content %} 

  <h2>Upload your Excel file</h2>

  <div>
    <form method="POST" action="{{ url_for('suplier.save_files_excel') }}" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </div>

  {% endblock %}
</body>
</html>