<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1></h1>
          <a href="/home"><i class="fas fa-home"></i>Home</a>
          <a href="/pembelian"><i class="fas fa-user"></i>Pembelian</a>
          <a href="/barang"><i class="fas fa-user"></i>Barang</a>
          <a href="/suplier"><i class="fas fa-user"></i>Suplier</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>